<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Match Generator</title>
    <!-- scripts and styles will be added by webpack -->
  </head>
  <body>
    <div id="content"></div>
  </body>
</html>
